html {
    background-color:peachpuff;
}
body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color:whitesmoke ;
    
}

section {
    padding: 20px;
    margin: 20px;
}

strong{
    font-weight: bold;
}

h1,
h3,
h4,
h5 {
    color: black;
    margin: 0;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 4em;
    font-weight: lighter;
}

h1 strong {
    font-weight: bold;
    display: block;
    color:darkorange;
    margin-bottom: 1em;
    align-self:start;
}

h2 {
    font-size: 3em;
    color:darkorange;

}
h3 {
    font-size: 3em;
}

h4 {
    color:whitesmoke;
    font-size: 1.5em;

}
h5 {
    font-size: 1.5em;
    color: darkorange
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

img{
    display: block;
    max-width: 100%;
}

a[href$=".html"] {
    font-style: italic;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

label {
    line-height: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.intro  {
display: flex;
}

#jesslazeimg {
    width: 400px;
    height:400px;
    float: left;
    padding: .75em;

}

.work {
    background-color: darkgray;
    background-image: url(Unknown-1.jpeg); 
    background-size: cover;
    text-align:center;
}
.workbody {
    display: flex;
    color: whitesmoke;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media (max-width: 400px){
    section{
        display:inline;
    }
    img{
        width: 100%;
        height: 200px;
    }
}

.card{
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    border: 1px solid #aaa;
}

.card .avatar{
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    width: 90px;
    border-radius: 50%;
    margin-top: -50px;

}

.contacts {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}
.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.intro {
    position: relative
}